In [5]:
import pandas as pd
import csv
from tqdm.auto import tqdm

In [3]:
df = pd.read_csv('../Data/12_APs_with_screened_ESW.csv')
prediction_df = pd.DataFrame(columns=['material_id','composition','log_sigma'])
prediction_df['material_id'] = df.index
prediction_df['composition'] = df['composition']
prediction_df['log_sigma']=0
prediction_df.to_csv('../Data/prediction_data_sigma.csv',index=False) 
prediction_df

    material_id                 composition  log_sigma
0             0                Li3 Cl1 O3.5          0
1             1   Li3 B0.5 Se1 C0.5 N0.5 F2          0
2             2  Li3 B0.75 Te1 Cl0.25 O1 F3          0
3             3  Na3 Al0.875 S1 I0.125 F3.5          0
4             4      Na3 Al0.75 S1 I0.25 F3          0
..          ...                         ...        ...
75           75     Li2 H1 Br0.75 Cl0.25 O1          0
76           76   Li2 H1 Br0.125 Cl0.875 O1          0
77           77          Li3 B0.75 O1 F3.25          0
78           78               Li3 S1 Cl1 O4          0
79           79       Li3 B0.125 Cl1.375 O1          0

[80 rows x 3 columns]

Command:  

cd ROOST

python roost-example.py --train --evaluate --data-path ../Data/train_data_sigma.csv --test-path ../Data/prediction_data_sigma.csv  --tasks regression --targets log_sigma --losses L1 --robust --epochs 100 --ensemble 10

In [15]:
df = pd.read_csv('../ROOST/results/sigma_prediction_results.csv')
result_df = df.drop(['log_sigma_ale_n0', 'log_sigma_ale_n1', 'log_sigma_ale_n2', 'log_sigma_ale_n3', 'log_sigma_ale_n4', 'log_sigma_ale_n5', 'log_sigma_ale_n6', 'log_sigma_ale_n7', 'log_sigma_ale_n8', 'log_sigma_ale_n9'], axis = 1)
result_ensemble_mean_sigma= result_df.iloc[:,:2].rename(columns={'target':'ensemble_mean'})
result_ensemble_mean_sigma['log_sigma'] = [result_df.iloc[i,2:].mean() for i in tqdm(range(len(result_df)))]
result_ensemble_mean_sigma.to_csv('../Data/13_APs_log_sigma_results.csv',index=False)
result_ensemble_mean_sigma

  0%|          | 0/80 [00:00<?, ?it/s]

    material_id                 composition  log_sigma
0             0                Li3 Cl1 O3.5 -10.015520
1             1   Li3 B0.5 Se1 C0.5 N0.5 F2  -6.169415
2             2  Li3 B0.75 Te1 Cl0.25 O1 F3  -6.648279
3             3  Na3 Al0.875 S1 I0.125 F3.5  -3.626729
4             4      Na3 Al0.75 S1 I0.25 F3  -3.913856
..          ...                         ...        ...
75           75     Li2 H1 Br0.75 Cl0.25 O1  -3.568090
76           76   Li2 H1 Br0.125 Cl0.875 O1  -3.264299
77           77          Li3 B0.75 O1 F3.25  -7.423181
78           78               Li3 S1 Cl1 O4  -7.325513
79           79       Li3 B0.125 Cl1.375 O1  -6.740466

[80 rows x 3 columns]

In [20]:
screened_df = result_ensemble_mean_sigma[(result_ensemble_mean_sigma['log_sigma'] > -3.8)]
screened_df = screened_df.sort_values(by='log_sigma', ascending=False)
screened_df.to_csv('../Data/14_APs_with_screened_log_sigma.csv', index=False)
screened_df

    material_id                    composition  log_sigma
47           47   Li3 C0.875 S1 N0.875 Cl0.125  -2.711760
44           44    Li3 C0.875 S1 N0.875 F0.125  -3.200178
45           45      Li3 C0.75 S1 N0.75 Cl0.25  -3.201897
76           76      Li2 H1 Br0.125 Cl0.875 O1  -3.264299
48           48      Li3 C0.75 S1 Br0.25 N0.75  -3.268498
7             7     Li3 B0.875 Br0.125 O1 F3.5  -3.453975
38           38     Na3 B0.875 Br0.125 O1 F3.5  -3.512760
31           31        Li2 H1 I0.125 O1 F0.875  -3.520171
24           24  K2 Al0.875 H1 Br0.125 O1 F3.5  -3.525060
75           75        Li2 H1 Br0.75 Cl0.25 O1  -3.568090
3             3     Na3 Al0.875 S1 I0.125 F3.5  -3.626729
22           22   K2 Al0.875 H1 I0.125 O1 F3.5  -3.670351
9             9      Na3 B0.875 I0.125 O1 F3.5  -3.672543
25           25      K2 Al0.75 H1 Br0.25 O1 F3  -3.770037
39           39         Na3 B0.75 Br0.25 O1 F3  -3.787807